/* div{
    background-color: pink;
    display: inline;
}
button{
    display: inline;
} */
#a1{

    background-color: blue;
 }
 #a2{

    background-color: green;
 }
 #a3{

    background-color: red;
 }
 div{
    width: 100px;
    height: 100px;
    margin: 25px;
    padding:25px;
    /* display: inline; */
    display: inline-block;
    /* visibility:hidden; */
    
 }
 #box4{
   background-color: rgba(255,0,0,0.5); /* -- opacity ke saath hain */
 }
 #box5{
   background-color: rgba(255,0,0,0.75); /* -- opacity ke saath hain */
 }
  #box6{
   background-color: rgba(255,0,0,1); /* -- opacity ke saath hain */
 }
 
 
 
