div{
    height: 200px;
    width: 200px;
    background-color: pink;
    /* transform: rotate(45deg); */
    /* orrrrr */
    /* rotate: z 90deg; */
    position: absolute;
    top: 200px;
    left: 200px;

transition: all 2s ease-in;    /* to transform it into size we need to do scale */
    /* scale: 2; */
    /* orrr */
    /* transform: scale(2); */
    /* both axis x and y */
    /* scale: 1 2; */
    /* transform: scale(1,2); */

}
div:hover{
    background-color: burlywood;
    transition-duration: 2s;
    /* transform: scale(2); */
    /* transform: scaleX(2); */
    /* transform: scaleY(2); */
    /* transform: rotate(180deg); */
    /* transform: translate(100px); */
    /* translate: 200px; */
    /* transform: translateX(-400px); */
    /* translate: 100px 100px; */
    /* transform: translate(100px , 100px); */
    /* transform: skew(30deg); */
}