div{
    height: 100px;
    width: 100px;
    background-color: lightgreen;
    border: 2px solid black;
    transition: all 2s ease-in-out 0.4s;
    /* transition-property: all;
    transition-duration: 2s;
    transition-timing-function: steps(3);
    transition-delay: 1s; */
   
}
div:hover{
    background-color: red;
    color: whitesmoke;
    font-size: 20px;
}
div:active{
    background-color: pink;
}