/* h1{ */
    /* background-color: aqua;
    color: blue;
    border: 5px solid tomato;
    outline-style: solid;
    outline-color: blue;
    outline-width: 5px; */

    /* margin: 0;
    padding: 2rem; */
    /* text-decoration-line: underline ;
    text-decoration-color: aqua;
    text-transform: lowercase;
    text-shadow: 2px 2px 2px green;
    



}
p{
    
   
    line-height: 0.8;
    word-spacing: 5px;
    white-space: nowrap;
    
} */
 *{
    background-color: aqua;
 }